.layout-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
    border: 2px;
  }
  
  .title {
    margin: 0;
  }
  
  .social-icons {
    display: flex;
    gap: 10px;
  }